<nav>
  <a class="navbar-brand" mat-button color="primary" href="#">ClassBridge</a>
  <ul>
  <li> 
    <a mat-button >Home</a> 
    <a mat-button >Teachers</a>
    <a mat-button >Working Staff</a>
    <a mat-button >Update</a>
  <div class="nav-joinbtn">
      <a  mat-button routerLink="/register">Help</a>
      <a  mat-button routerLink="/register">Suggestions</a>
      <a  mat-button routerLink="/register"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="34" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>JoinNow</a>
  </div>
</ul>
</nav>
<router-outlet></router-outlet>