<nav>
  <a class="navbar-brand" mat-button color="primary" href="#">ClassBridge</a>
  <ul>
  <li> 
    <a mat-button >Home</a> 
    <!-- role school tabs  -->
    <a mat-button >Teachers</a>
    <a mat-button >Working Staff</a>
    <a mat-button >Update</a>
  <div class="nav-joinbtn">
      <a  mat-button routerLink="/register">Help</a>
      <a  mat-button routerLink="/register">Suggestions</a>
      <a  mat-button routerLink="/register">JoinNow</a>
  </div>
</ul>
</nav>
<router-outlet></router-outlet>