
nav , ul , li {
    display: inline-block;
    margin-top: 5px;
    padding-right: 12px;
}
nav{
    margin-top: 0px;
    width: 100%;
    background-color: rgb(240, 240, 28);
    height: 62px;
}
.nav-joinbtn{
    display: inline-block;
    position: absolute;
    right: 0 !important;
}