
.custom {
  margin-top: 0px !important;
    background-image:  linear-gradient(#124188, rgb(5, 6, 0));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 810px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color:rgb(250, 217, 27) !important; */
    color: white;
    text-shadow: 10px 5px black;
  }
  /* .text-head {
    font-size: 150px;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0; 
    animation: slideFromTop 8s infinite; 
  } */
  
  /* @keyframes slideFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    25% {
      color:rgb(39, 240, 207);
      transform: translateY(0);
      opacity: 3;
  }
  35% {
    color:rgb(16, 72, 122);
    transform: translateY(0);
    opacity: 3;
  }
  40% {
    color:rgb(19, 46, 86);
    transform: translateY(0);
    opacity: 3;
  }
  45% {
    color:rgb(2, 30, 47);
    transform: translateY(0);
    opacity: 3;
  }
    100% {
        transform: translateY(0);
        opacity: 3;
    }
  } */
  
  .text-head {
      font-size: 150px;
      font-family: 'Times New Roman', Times, serif;
      opacity: 0;
      animation: slideFromTop 2s forwards;
      animation-delay: 0.2s; /* Add a delay for each letter */
      display: inline-block; /* To animate each letter separately */
  }
  .text-head-2{
    animation: slideFromTop 2s forwards;
    animation-delay: 0.2s; /* Add a delay for each letter */
    display: inline-block; /* To animate each letter separately */
  }
  a{
    font-size: 23px;
    color:bisque
  }
  @keyframes slideFromTop {
      0% {
          transform: translateY(-100%);
          opacity: 0;
      }
      100% {
          transform: translateY(0);
          opacity: 1;
      }
  }
  