<header>
    <div class="custom d-flex text-center justify-content-center mt-3 mb-3">
        <div class="row">
          <div class="col-12">
            <h1 class="text-head ">S H O P $ L E S S</h1>
          </div>
        </div>
        <div class="row">
            <div class="text-center m-4 text-head-2">
                 <h1>Shop$Less</h1>
                 <!-- <a  routerLink="register" class="mt-4" ></a> -->
                 <button  mat-raised-button routerLink="/products" class="mt-4">Explore</button>
            </div>
        </div>
      </div>
</header>

