
.custom {
    margin-top: 0px !important;
    background-image: url('https://images.unsplash.com/photo-1529530385195-5f7be6bb3d12?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=980&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 810px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 10px 5px black;
  }
  